
.Loading{
    z-index: 100;
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    bottom:0;

    pointer-events: none;

    display: flex;
    align-content: center;
    justify-content: center;
}

