/*todo scss*/

.EditorScene canvas{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
} 

/*todo vr append .EditorScene*/
#babylonVRiconbtn{
    z-index: 30;
    /*margin-top: calc( -600px + 100px) ;*/
}